@import url('https://fonts.googleapis.com/css2?family=Lora&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,500;0,600;1,400&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* CSS for mobile biew*/
.grid-main-content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(9, 1fr);
    border: double;

}

.sidebar-content-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: double;
    text-align: center;
}

.sidebar-content-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: double;
    text-align: center;
}

.sidebar-content-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: double;
    text-align: center;
}

.sidebar-content-4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border: double;
    text-align: center;
}

.sidebar-content-5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    border: double;
    text-align: center;
}

.sidebar-content-6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    border: double;
    text-align: center;
}

.sidebar-content-7 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    border: double;
    text-align: center;
}

.sidebar-content-8 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    border: double;
    text-align: center;
}

.sidebar-content-9 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    border: double;
    text-align: center;
}

.sidebar-content-images {
    grid-column: 2 / 3;
    grid-row: 1 / 10;
    border: double;
}

.img-sidebar {
    width: 90%;
    margin: 5%;
}


body {
    font-family: 'Lora', 'Petit Formal Script';
    background-color: rgb(141 184 201);
    margin: 40px;
}

.main-header {
    text-align: center;
}

.img-footer {
    width: 50%;
}

.btn-hamburguer-menu {
    visibility: visible;
}

.nav-sites {
    visibility: visible;
}

.img-landing {
    width: 100%;
    margin: 10px;
}



h2 {
    text-align: center;
}


.join-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.join-form-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.join-description-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


/* CSS for desktop biew*/
@media (min-width: 500px) {

    body {
        background-color: rgb(112, 213, 112);
        font-family: 'Petit Formal Script', 'Lora';
        margin: 40px;
        font-weight: bold;
    }

    .sidebar-content-images:hover {
        background-color: red;
    }

    h2 {
        text-align: left;
    }

    .img-landing {
        width: 100%;
        margin: 40px;
    }


    .main-header {
        text-align: center;
    }

    .btn-hamburguer-menu {
        visibility: hidden;
    }

    .nav-sites {
        visibility: visible;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .li-home {
        grid-row: 1 / 2;
        grid-column: 1/ 2;
    }

    .li-discover {
        grid-row: 1 / 2;
        grid-column: 2/ 3;
    }

    .li-directory {
        grid-row: 1 / 2;
        grid-column: 3/ 4;
    }

    .li-join {
        grid-row: 1 / 2;
        grid-column: 4/ 5;
    }

    .img-footer {
        width: 50%;
    }

}