/* CSS for desktop biew*/
@media (min-width: 500px) {

    body {
        background-color: rgb(112, 213, 112);
        font-family: 'Petit Formal Script', 'Lora';
        margin: 40px;
        font-weight: bold;
    }

    .sidebar-content-images:hover {
        background-color: red;
    }

    h2 {
        text-align: left;
    }

    .img-landing {
        width: 98%;
    }


    .main-header {
        text-align: center;
    }

    .btn-hamburguer-menu {
        visibility: hidden;
        width: 55px;
        height: 55px;
    }

    .nav-sites {
        visibility: visible;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    li {
        margin: 8px;
    }

    .li-home {
        grid-row: 1 / 2;
        grid-column: 1/ 2;
    }

    .li-discover {
        grid-row: 1 / 2;
        grid-column: 2/ 3;
    }

    .li-directory {
        grid-row: 1 / 2;
        grid-column: 3/ 4;
    }

    .li-join {
        grid-row: 1 / 2;
        grid-column: 4/ 5;
    }

    .img-footer {
        width: 50%;
    }

    #first_name {
        width: 200px;
        margin-bottom: 20px;
    }

    #last_name {
        width: 200px;
        margin-bottom: 20px;
    }

    #position {
        width: 200px;
        margin-bottom: 20px;
    }

    #email_address {
        width: 200px;
        margin-bottom: 20px;
    }

    #mobile_phone_number {
        width: 200px;
        margin-bottom: 20px;
    }

    #business_organization_description {
        width: 200px;
        margin: 20px;
    }

    .join-description-section {
        margin: 9%;
    }

    .radio-membership {
        width: 200px;
    }

    .join-main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .join-form-section {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: auto;
    }

    .members-section {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem;
        background-color: #d5efc8;
        text-align: center;
        margin: 8px;
    }

    .toggle-button {
        border: 8px solid rgb(83, 187, 83);
        background-color: rgb(146, 204, 146);
        font-size: 20px;
        height: 44px;
        margin: 8px;
    }

    .btn-submit-form {
        font-size: 12px;
        ;
    }

    #join-form>input {
        height: 44px;
        margin: 20px;
    }

    .join-radio-btn {
        height: 50px;
        margin: 8px;
    }

    section>a {
        font-size: 44px;
        margin: 10px;
    }

    .banner-invitation-to-meet {
        width: 100%;
        margin: 10px;
    }

    .banner-invitation-to-meet>img {
        width: 100%;
    }

}