@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Space+Grotesk:wght@300&display=swap');

body {
    background-color: skyblue;
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Space Grotesk', sans-serif;
}

.navigation ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 5em 10em 10em;
    grid-template-columns: 100%;
}

main>h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

main>section:nth-of-type(1) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(199, 199, 205);
    border: 2px solid;
    padding: 5px;
}

main>section:nth-of-type(2) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: rgb(199, 199, 205);
    border: 2px solid;
    padding: 5px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.weather-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.weather-visits {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


.img-profile-picture {
    width: 200px;
    height: 200px;
}


.img-temple {
    width: 100%;
}

.herolabel {
    min-width: 310px;
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
    font-size: 2em;
}

.btn-hamburguer-menu {
    visibility: visible;
    width: 40px;
    height: 40px;
}

.nav-sites {
    visibility: hidden;
}

.btn-dark-mode {
    width: 40px;
    height: 40px;
}


.weather-icon {
    width: 40px
}


.activities {
    font-size: 60%;
}